@tailwind base;
@tailwind components;
@tailwind utilities;

.sous_titre {
    color: #7A7A7A;
    font-family: Manrope, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;

}

.description {
    color: #1B1B1B;
    font-family: Manrope, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 32px;
    width: 330px;
}

.ingredient_quantity {
    color: #7A7A7A;
    font-family: Manrope, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.time {
    color: #1B1B1B;
    text-align: center;
    font-family: Manrope, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #FFD15B;
    padding: 5px 15px;
    border-radius: 14px;
}
