@tailwind base;
@tailwind components;
@tailwind utilities;

.sous_titre {
    color: #7A7A7A;
    font-family: Manrope, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;

}

.description {
    color: #1B1B1B;
    font-family: Manrope, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 32px;
    width: 330px;
}

.ingredient_quantity {
    color: #7A7A7A;
    font-family: Manrope, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.time {
    color: #1B1B1B;
    text-align: center;
    font-family: Manrope, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #FFD15B;
    padding: 5px 15px;
    border-radius: 14px;
}

.filter-dropdown {
    max-height: 362px;
    min-height: 110px;
    background-color: white;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;

}

.filter-tags {
    max-height: 230px;
    overflow-y: auto;

}

.filter-button {
    background-color: white;
    border-radius: 11px;
    padding: 17px 16px;
    color: #1B1B1B;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.filter-search {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYzIiBoZWlnaHQ9IjM2IiB2aWV3Qm94PSIwIDAgMTYzIDM2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8ZyBpZD0iR3JvdXAgOCI+CjxyZWN0IGlkPSJSZWN0YW5nbGUgOCIgeD0iMC41IiB5PSIwLjUiIHdpZHRoPSIxNjIiIGhlaWdodD0iMzUiIHJ4PSIxLjUiIHN0cm9rZT0iI0M2QzZDNiIvPgo8ZyBpZD0iR3JvdXAgNCI+CjxjaXJjbGUgaWQ9IkVsbGlwc2UgNCIgY3g9IjE0MyIgY3k9IjE2IiByPSI0Ljc1IiBzdHJva2U9IiM3QTdBN0EiIHN0cm9rZS13aWR0aD0iMC41Ii8+CjxsaW5lIGlkPSJMaW5lIDIiIHgxPSIxNDcuMTc3IiB5MT0iMjAuMzIzMiIgeDI9IjE1MS42NzciIHkyPSIyNC44MjMyIiBzdHJva2U9IiM3QTdBN0EiIHN0cm9rZS13aWR0aD0iMC41Ii8+CjwvZz4KPC9nPgo8L3N2Zz4K');
    background-repeat: no-repeat;
    background-position: right;
    border-left: 0.5px solid #C6C6C6;
    border-bottom: 0.5px solid #C6C6C6;
    border-top: 0.5px solid #C6C6C6;
    width: 160px;
    margin-bottom: 24px;
    margin-left: 14px;
}

.tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
}

.tags {
    position: absolute;
    top: 100%; /* Positionne le conteneur de tags juste en dessous du conteneur de filtre */
    left: 0; /* Aligne le conteneur de tags à gauche du conteneur de filtre */
    width: 100%; /* Assure que le conteneur de tags a la même largeur que le conteneur de filtre */
    margin-bottom: 20px;
}

.selected {
    background-color: #FFD15B;
}

#tags {
    display: flex;
    flex-direction: row;
    position: relative;
}
